/* styles.css or footer.component.css */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  flex: 1; /* This allows the wrapper to take up the remaining vertical space */
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
