<div class="shopping-cart">
    <h2>Shopping Cart</h2>
    <ul class="cart-items">
      <li *ngFor="let item of cartItems" class="cart-item">
        <div class="item-details">
          <img [src]="item.imageUrl" alt="{{ item.name }}" class="cart-item-image">
          <h4 class="cart-item-name">{{ item.name }}</h4>
          <p class="cart-item-price">{{ item.price | currency }}</p>
        </div>
        <button class="remove-from-cart-button">Remove</button>
      </li>
    </ul>
    <div class="cart-total">
      <p>Total:</p>
      <p class="cart-total-price">{{ getTotalPrice() | currency }}</p>
    </div>
  </div>
  